<html>
  <body>
    <h1>Add player</h1>
    <form method="POST" action="/">
        <input type="text" name="name">
        <input type="submit" value="Add">
    </form>

    <h1>Enter Game</h1>
    <form method="POST" action="/update">
        <p>Winner:</p>
        <input type="text" name="winner">
        <p>Loser:</p>
        <input type="text" name="loser">

        <p>Game 1:</p>
        <input type="number" name="g1p1">
        <input type="number" name="g1p2">

        <p>Game 2:</p>
        <input type="number" name="g2p1">
        <input type="number" name="g2p2">

        <p>Game 3:</p>
        <input type="number" name="g3p1">
        <input type="number" name="g3p2">

        <input type="submit" value="Add Game">
    </form>


    <h1>Players</h1>
    {% for player in players %}
      <p>{{player.name}} {{player.elo}}</p>
    {% endfor %}
  </body>
</html>